<!-- <ActionBar title="Groceries"></ActionBar>

<FlexboxLayout>
  <StackLayout>
    

    <Button text="Sign UP NOW" class="btn btn-primary"></Button>
    <Button text="LOGIN"></Button>
  </StackLayout>
</FlexboxLayout> -->
<ActionBar title=""></ActionBar>
<FlexboxLayout class="page">
  <StackLayout class="form">
     
      <Label class="header" text="NAO"></Label>
      <Label class="header2" text="Trade your extra food"></Label>

      <PreviousNextView>
          <GridLayout rows="auto, auto, auto">
              

              <StackLayout row="1" class="input-field">
                  
              </StackLayout>

              <StackLayout row="2"  class="input-field">
                 
              </StackLayout>

              <ActivityIndicator rowSpan="3"></ActivityIndicator>
          </GridLayout>
      </PreviousNextView>
      <Button  text="Sign UP NOW" class="my-button"></Button>
      <Button  text="Login in"class="my-button2"></Button>
      
  </StackLayout>

  
</FlexboxLayout>
