<!-- <ActionBar title="" class="action-bar">
    
   
        <FlexboxLayout justifyContent="flex-end" width="100%" id="addButtonContainer" left="0">
                    <Button class="btn-add" row="0" col="1" text="+"></Button>
                    
        </FlexboxLayout>  
        
    
</ActionBar> -->
<ActionBar class="action-bar">
    <!-- <Button left="250" text="OPEN DRAWER" (tap)="openDrawer()" class="drawerContentButton"></Button> -->
    <!-- <Label horizontal-align="center" text="&#xf0c9;" class="fas fa-bars sidedrawer-item"  style="font-size:30px" (tap)="openDrawer()" ></Label> -->
    <ActionItem >
        
        <Label horizontal-align="left" text="&#xf0c9;" class="fas fa-bars sidedrawer-item"  style="font-size:30px; horizontal-align:left;"  color="white"></Label>
    </ActionItem>
</ActionBar>   


<FlexboxLayout class="page">
	

  
    <StackLayout class="form">
            <GridLayout rows="auto, auto, auto" class="page2">
                <StackLayout row="0">
                   
                    <Label horizontal-align="center" text="&#xf083;" class="fas fa-camera-retro"  style="font-size:50px; horizontal-align:center;"  color="green"></Label>
				</StackLayout>
                <StackLayout row="1">
                    <Label class="header3" text="Take a photo of your prouct" color="black"></Label>
                   
				</StackLayout>
                <StackLayout row="2">
                   
                    <Label textWrap="true" class="header4" text="Let people have a look of what you are offering here" color="gray"></Label>
				</StackLayout>
            </GridLayout>

            <GridLayout rows="auto, auto, auto,auto,auto,auto">
				<StackLayout row="0">
                   
					<Button text="Take Photo" class="btn-primary1"></Button>
				</StackLayout>
                <StackLayout row="1" class="input-field">
                    <Label class="header2" text="Name" color="white"></Label>
                    <TextField   [(ngModel)]="post.name" class="input" hint="Write a name for your product here" ></TextField>
                   
                </StackLayout>

                <StackLayout row="2" class="input-field">
                    <Label class="header2" text="Description" color="white"></Label>
                    <TextField  [(ngModel)]="post.description"class="input" hint="Decscribe your product here" ></TextField>
                    
                </StackLayout>
                <StackLayout row="3" >
                    <Label class="header2" text="Ingredient" color="white"></Label>
                    <TextField [(ngModel)]="post.ingredient" class="input" hint="Detail the Ingredient here" ></TextField>
                   
                </StackLayout>
				<StackLayout row="4" >
                    <Label class="header2" text="Price" color="white"></Label>
                    <TextField [(ngModel)]="post.price" class="input" hint="Free" ></TextField>
                    
                </StackLayout>     
				<StackLayout row="5" >
                    <GridLayout columns="*,2*" horizontalAlignment="right" >
                        <!-- <Button  text="Login"class="btn-primary " col="0" (tap)="submit()"></Button>
                        <Label  text="Forgot your password?" class="login-label" col="1"></Label> -->
                        <Button text="Publish" class="btn-primary" col="1" (tap)='submit2()'></Button>
                    </GridLayout>                    
                    <!-- <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'" class="btn-primary" (tap)="toggleDisplay()"></Button> -->
                </StackLayout>                          
            </GridLayout>
        

       
    </StackLayout>

 
</FlexboxLayout>