<!-- <ActionBar title="Groceries"></ActionBar>

<FlexboxLayout>
  <StackLayout>
    

    <Button text="Sign UP NOW" class="btn btn-primary"></Button>
    <Button text="LOGIN"></Button>
  </StackLayout>
</FlexboxLayout> -->
<ActionBar title=""></ActionBar>
<FlexboxLayout class="page">
  <PreviousNextView>
        <GridLayout rows="auto, auto,auto">
            <StackLayout row="0" class="form">
                <Image class="logo" src="~/images/logo.png"></Image>
                <Label textWrap="true" class="header" text="Make an impact,reduce food waste"></Label>
                <!-- <Label class="header" text="to NAO"></Label> -->
            </StackLayout>
            
                
                      
            
          
          <StackLayout row="1">
            <Label textWrap="true" class="header2" text="By eating your favourite delicious food, you can have a positive impact!"></Label>
            <Label textWrap="true" class="header3" text="GET Starded"></Label>  
          </StackLayout>
          
          
          
          <StackLayout row="2">
            <GridLayout rows="auto, auto,auto">
              
              <Label  text="&#xf111;" class="fas fa-circle" color="gray"   style="font-size:20px; horizontal-align:center; margin-right:15%;"></Label>
              <Label  text="&#xf111;" class="fas fa-circle"color="gray"   style="font-size:20px; horizontal-align:center;"></Label>
              <Label  text="&#xf111;" class="fas fa-circle" color="white"  (tap)="submit()" style="font-size:30px;  horizontal-align:center; margin-left:15%;"></Label>
            </GridLayout>   
          </StackLayout>

          
        </GridLayout>   

  </PreviousNextView>    <!-- <Label class="business-label" text="Sign up as a business account"></Label> -->
  

  
</FlexboxLayout>
