.page {
  align-items: center;
  flex-direction: column;
}
 FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: url("~/images/login.png");
    opacity: 1;
        
  }

  .logo {
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
  }
  
/* StackLayout {
    width: 300;
    padding: 10 16;
 
  }

  ActionBar {
    background-color: black;
    color: white;
  }
  Image {
    margin-bottom: 20;
    height: 70;
  }
  Button, TextField {
    margin-bottom: 10;
    
  }
  .btn-primary {
    background-color: #092403;
    margin-left: 0;
    margin-right: 0;
  }
  TextField {
    placeholder-color: #C4AFB4;
    color: white;
  } */ 
  ActionBar {
    background-color: black;
    color: white;
    opacity: 0.7;
  }

  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }

  
  
  .header {
    horizontal-align: center;
    overflow: hidden;
    font-family:Pacifico-Regular,Arial;
    font-size: 55px;
    margin-bottom: 10;
    text-align: center;
    color: rgb(27, 67, 50);
    white-space: pre;
    font-style: normal;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  }
  .header2 {
    horizontal-align: center;
    font-size: 35px;
    font-weight: 328px;
    font-family:Lato-Regular,Arial;
    top: 297px;
	  left: 19px;
    margin-bottom: 150;
    text-align: center;
    overflow: hidden;
    color: #1b4332;
    opacity:0.799;
  }
  

  

  
  .my-button {
    /* android-elevation: 4; */
    font-family: Lato-Regular,Arial;
    background: #1b4332;
    /* border-radius: 20;
    border-width: 1; */
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    color: white;
    font-size: 18;
    font-weight: bold;
    width: 700px;
  }

  .my-button2 {
    /* android-elevation: 4; */
    font-family: Lato-Regular,Arial;
    background-color: #95d5b2;
    /* border-radius: 20;
    border-width: 1; */
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    color: white;
    font-size: 18;
    font-weight: bold;
    width: 700px;
    
  }
  .business-label {
    font-family: Lato-Regular,Arial;
    horizontal-align: center;
    color:rgba(255, 255, 255, 1);
    font-size: 16;
    text-decoration: underline;
    margin-top: 30px;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
  }
 
