 FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: url("~/images/login.png");
    opacity: 0.9;
        
  }

  
/* StackLayout {
    width: 300;
    padding: 10 16;
 
  }

  ActionBar {
    background-color: black;
    color: white;
  }
  Image {
    margin-bottom: 20;
    height: 70;
  }
  Button, TextField {
    margin-bottom: 10;
    
  }
  .btn-primary {
    background-color: #092403;
    margin-left: 0;
    margin-right: 0;
  }
  TextField {
    placeholder-color: #C4AFB4;
    color: white;
  } */ 
  ActionBar {
    background-color: black;
    color: white;
    opacity: 0.7;
  }

  
  
  .header {
    horizontal-align: center;
    overflow: hidden;
    font-family:Merriweather-Regular;
    font-size: 55px;
    margin-bottom: 10;
    text-align: center;
    color: #1b4332;
  }
  .header2 {
    horizontal-align: center;
    font-size: 35px;
    font-weight: 328px;
    font-family:Lato-Regular;
    top: 297px;
	  left: 19px;
    margin-bottom: 150;
    text-align: center;
    overflow: hidden;
    color: #1b4332;
    opacity:0.799;
  }
  

  

  
  .my-button {
    /* android-elevation: 4; */
    font-family: Lato-Regular;
    background: #1b4332;
    /* border-radius: 20;
    border-width: 1; */
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    color: white;
    font-size: 18;
    font-weight: bold;
    width: 700px;
  }

  .my-button2 {
    /* android-elevation: 4; */
    font-family: Lato-Regular;
    background-color: #95d5b2;
    /* border-radius: 20;
    border-width: 1; */
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    color: white;
    font-size: 18;
    font-weight: bold;
    width: 700px;
    
  }
  .login-label {
    horizontal-align: center;
    color: #A8A8A8;
    font-size: 16;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  .bold {
    color: #000000; 
  }