<!-- <ActionBar title="Groceries"></ActionBar>

<FlexboxLayout>
  <StackLayout>
    

    <Button text="Sign UP NOW" class="btn btn-primary"></Button>
    <Button text="LOGIN"></Button>
  </StackLayout>
</FlexboxLayout> -->
<ActionBar title="">
  <Label  text=""></Label>
</ActionBar>
<FlexboxLayout class="page">
  <StackLayout class="form">
      <Image class="logo" src="~/images/logo.png"></Image>
      <Label class="header" text="NAO"></Label>
      <Label class="header2" text="Trade your extra food"></Label>

      <!-- <PreviousNextView> -->
          <GridLayout rows="auto, auto, auto">
              
              <StackLayout row="1" class="input-field">
                  
              </StackLayout>

              <StackLayout row="2"  class="input-field">
                 
              </StackLayout>

              <ActivityIndicator rowSpan="3">
                  
              </ActivityIndicator>
          </GridLayout>
      <!-- </PreviousNextView> -->
      <Button  text="SIGN UP NOW" class="my-button" (tap)="submit()"></Button>
      <Button  text="LOGIN"class="my-button2" (tap)="submit1()"></Button>
      <Label class="business-label" text="Sign up as a business account"></Label>
  </StackLayout>

  
</FlexboxLayout>
