.page {
  align-items: center;
  flex-direction: column;
}
  FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("~/images/Background.png");
    opacity: 1;
        
  }

  ActionBar {
    background-color: black;
    color: white;
    opacity: 0.7;
  }

  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }
  
  .logo {
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
  }
  .header {
    horizontal-align: left;
    font-size: 40;
    font-weight: 400;
    margin-bottom: 30;
    text-align: center;
    color: #19462b;
  }
  .signuptext {
    horizontal-align: left;
    font-size: 20;
    font-weight: 400;
    font-style: normal;
    font-family: Lato, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    
    text-align: center;
    color: rgba(27, 67, 50);
    -webkit-text-stroke: 1.00px rgba(27, 67, 50)
    
  }
  
  .input-field {
    margin-bottom: 25;
  }
  .input {
    font-size: 18;
    placeholder-color: #A8A8A8;
    margin-left: 1px;
  }
  .input:disabled {
    background-color: white;
    opacity: 0.5;
  }
  
  .btn-primary {
    
    /* background-color: rgb(2, 22, 10);
    border-radius: 20;
    border-width: 1;
    color: white;
    font-size: 18;
    font-weight: bold; */
    font-family: Lato-Regular,Arial;
    background-color: #1b4332;
    border-bottom-color: rgba(149, 152, 154, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(149, 152, 154, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(149, 152, 154, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(149, 152, 154, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 10.00px;
    border-top-right-radius: 10.00px;
    border-bottom-left-radius: 10.00px;
    border-bottom-right-radius: 10.00px;
    box-shadow: none;
    /* border-radius: 20;
    border-width: 1; */
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    color: white;
    font-size: 18;
    font-weight: bold;
    width: 700px;
  }
  
  .login-label {
    horizontal-align: center;
    color: #105029;
    font-size: 16;
    text-decoration: underline;
    margin-top: 20px;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  /* .bold {
    color: #000000; 
  } */