.page {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("~/images/login.jpg");
  opacity: 0.7;

  }
  ActionBar {
    background-color: black;
    color: white;
    opacity: 0.7;
  }

  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }
  
  .logo {
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
  }
  .header {
    horizontal-align: left;
    font-size: 40;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #19462b;
  }
  .header2 {
    horizontal-align: left;
    font-size: 20;
    font-weight: 600;
    margin-bottom: 20;
    text-align: center;
    color: #345341;
  }
  
  .input-field {
    margin-bottom: 25;
  }
  .input {
    font-size: 18;
    placeholder-color: #A8A8A8;
  }
  .input:disabled {
    background-color: white;
    opacity: 0.5;
  }
  
  .btn-primary {
    
    background-color: rgb(2, 22, 10);
    border-radius: 20;
    border-width: 1;
    color: white;
    font-size: 18;
    font-weight: bold;
  }
  
  .login-label {
    horizontal-align: center;
    color: #105029;
    font-size: 16;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  .bold {
    color: #000000; 
  }